<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Zeina Kittaneh">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- Custom styles -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  </head>

  <body>
    <!-- Website Header -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 class="navbar-brand">Catalog App</h1>
        </div>
        {%if 'username' not in session %}
        <a class="btn btn-primary" href="{{url_for('showLogin')}}" role="button">Login</a>
  			{% else %}
        <a class="btn btn-primary" href="{{url_for('disconnect')}}" role="button">Logout</a>
  			{% endif %}
      </div>
    </nav>
    <br />
    <div class="container jumbotron">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <div class="row">
        <div class="col-6">
          <h2>Categories</h2>
          <ul>
            {% for category in categories %}
          	<li class="collection-item">
          		<a href="/catalog/{{category.name}}/items">
          			{{category.name}}
          		</a>
          	</li>
          {% endfor %}
          </ul>
        </div>

        <div class="col-6">
          <a href = "/catalog/new">Add new item</a>
          <h2>Latest Items</h2>
          <ul>
            {% for item in latest_items %}
            <li>
              <a href="/catalog/{{item.category.name}}/{{item.name}}">
              {{item.name}}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-blue">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Zeina Kittaneh 2019</p>
      </div>
    </footer>

  </body>

</html>
